ML_20M/
NIST_NVD/
results/cve_rdf_batches/
results/cpe_rdf_batches/
results/cwe_rdf.ttl

results/cpe_map.json

results/movielens/
results/genome_scores.ttl
results/genome_defs.ttl
results/ratings.ttl
results/user_tags.ttl